robotframework>=7.0
PyYAML>=6.0
robotframework-seleniumlibrary>=6.0
selenium>=4.20.0
robotframework-requests>=0.9.7
requests>=2.31.0
openpyxl>=3.1.2
pandas>=2.2.2
python-dotenv>=1.0.1
webdriver-manager>=4.0.2
robotframework-pythonlibcore>=4.4.1
robotframework-pabot>=4.0
allure-robotframework>=2.13.5
robotframework-metrics>=3.7.0